* {
    color: #CCCCCC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("./img/bg-min.png");
}

main {
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
}

main h1 {
    text-align: center;
    color: #FFFFFF;
}

.title-container {
    text-align: center;
    margin-bottom: 40px;
}

.title-img {
    max-width: 60%;
}

@media only screen and (max-width: 1200px) {
    .title-img {
        max-width: 80%;
    }
}

.welcome-container {
    margin-bottom: 20px;
    text-align: center;
}

.welcome-container p {
    font-size: 0.9em;
}

.incorrect-url-container {
    text-align: center;
    display: none;
}

.incorrect-url-container p {
    color: #C12323;
}

.assignation-container {
    text-align: center;
    /* display: none; */
}

.form-container {
    display: none;
}

.form-container h2 {
    font-size: 1.2em;
    color: #DDDDDD;
}

.form-container .field-hint {
    font-size: 0.9em;
    color: #888888;
}

.form-container input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    color: black;
    background-color: #EEEEEE;
}

.form-container textarea {
    height: 150px;
}

.buttons-container {
    text-align: center;
}

button {
    background-color: #f97806;
    border-color: #333333;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px;
    min-width: 150px;
}

@keyframes loading-keyframes {
    0% {
        bottom: 0px;
    }
    25% {
        bottom: 10px;
    }
    50% {
        bottom: 0px;
    }
}

.loading {
    text-align: center;
    padding: 50px;
    display: none;
}

.loading span {
    font-size: 1.5em;
    position: relative;
    padding: 0px 5px;
    animation-name: loading-keyframes;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.loading #one {
    animation-delay: 0s;
}

.loading #two {
    animation-delay: 0.2s;
}

.loading #three {
    animation-delay: 0.4s;
}

@keyframes crystal-ball-blinking-keyframes {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
}

.crystal-ball-loading {
    animation-name: crystal-ball-blinking-keyframes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



@keyframes emoji-keyframes {
    from {
        bottom: -25px;
        opacity: 0%;
    }
    to {
        bottom: 0px;
        opacity: 100%;
    }
}

.animated-emoji {
    position: relative;
    text-align: center;
    bottom: 0px;
    opacity: 0%;
    animation-name: emoji-keyframes;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.big-emoji {
    font-size: 8em;
}