* {
    color: #CCCCCC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("./img/bg-min.png");
    background-repeat: repeat;
}

.error-banner {
    display: none;
    position: fixed;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: #C12323;
    background-color: #ff8787;
    top: 0px;
    left: 0px;
}

.info-banner {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    gap: 5px;
    padding: 10px 5px;
    background-color: #cbdbe9;
    border: solid #4c7192;
    border-radius: 5px;
}

.info-banner .banner-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    font-size: 1.2em;
}

.info-banner .banner-message {
    color: #4c7192;
    font-size: 0.8em;
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
}

main h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5em;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.title-img {
    max-width: 60%;
}

@media only screen and (max-width: 1200px) {
    .title-img {
        max-width: 80%;
    }
}

.incorrect-url-container {
    text-align: center;
    display: none;
}

.incorrect-url-container p {
    color: #C12323;
    font-size: 0.9em;
}

.welcome-container {
    margin-bottom: 20px;
    text-align: center;
}

.welcome-container p {
    font-size: 0.8em;
    text-align: justify;
}

.assignation-container {
    text-align: center;
    display: none;
}

.assignation-container p {
    font-size: 0.8em;
    text-align: justify;
}

.assignation-ritual-container {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    height: 250px;
}

#crystal-ball-bg {
    position: absolute;
    opacity: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#crystal-ball-emoji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70px, -60px);
}

.form-container {
    display: none;
}

.specialty-container {
    text-align: center;
    margin: 30px 0px;
}

.specialty-title-container {
    position: relative;
    margin: 15px 0px;
    height: 140px;
}

#specialty-name {
    position: absolute;
    width: 100%;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 8px;
    color: #FFFFFF;
    text-shadow: #7200ff 0px 0px 15px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#specialty-emoji {
    position: absolute;
}

#specialty-description {
    font-style: italic;
    font-size: 0.8em;
    text-shadow: #999999 1px 1px 5px;
}

.form-container h2 {
    font-size: 1.2em;
    color: #DDDDDD;
}

.form-container .field-hint {
    font-size: 0.8em;
    color: #888888;
}

.form-container input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: black;
    background-color: #EEEEEE;
}

.form-container textarea {
    height: 150px;
}

.buttons-container {
    text-align: center;
}

button {
    background-color: #f97806;
    border-color: #CD5C00;
    color: #EEEEEE;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px 25px;
    min-width: 150px;
}

button:hover {
    background-color: #fa851e;
}

@keyframes loading-keyframes {
    0% {
        bottom: 0px;
    }
    25% {
        bottom: 10px;
    }
    50% {
        bottom: 0px;
    }
}

.loading {
    text-align: center;
    padding: 50px;
}

.loading span {
    font-size: 1.5em;
    position: relative;
    padding: 0px 5px;
    animation-name: loading-keyframes;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.loading #one {
    animation-delay: 0s;
}

.loading #two {
    animation-delay: 0.2s;
}

.loading #three {
    animation-delay: 0.4s;
}

@keyframes crystal-ball-blinking-keyframes {
    0% {
        opacity: 100%;
    }
    40% {
        opacity: 20%;
    }
    80% {
        opacity: 100%;
    }
}

.crystal-ball-loading {
    opacity: 100%;
    animation-name: crystal-ball-blinking-keyframes;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes crystal-ball-bg-fadein-keyframes {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.crystal-ball-bg-loading {
    animation-name: crystal-ball-bg-fadein-keyframes;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes emoji-keyframes {
    from {
        transform: translate(-70px, 0%);
        opacity: 0%;
    }
    to {
        transform: translate(-70px, -60px);
        opacity: 100%;
    }
}

.animated-emoji {
    animation-name: emoji-keyframes;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes specialty-emoji-keyframes {
    from {
        transform: translate(-50%, 0%);
        opacity: 0%;
    }
    to {
        transform: translate(-50%, -18%);
        opacity: 100%;
    }
}

.animated-specialty-emoji {
    animation-name: specialty-emoji-keyframes;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.big-emoji {
    font-size: 8em;
}